<div class="container">
    <div class="row">
        <div class="col-12 barra-titulo">
            <img src="../../Content/logo2017_blanco.png" alt="CAECE" width="200" height="80" />
        </div>
    </div>

    <div class="row">
        <h4>Cambiar contraseña</h4>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="form-login" role="form" data-ng-if="!vm.validation">
                <p>Ingresar su matricula y contraseña de Data Caece</p>
                <input type="text" class="form-control" placeholder="Matricula Data Caece" data-ng-model="vm.validationModel.username" required autofocus>
                <input type="password" class="form-control" placeholder="Contraseña Data Caece" data-ng-model="vm.validationModel.password" required>
                <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="vm.validate()">Confirmar</button>
                <div data-ng-hide="vm.message == ''" data-ng-click="vm.message = ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                    {{vm.message}} Para cerrar esta alerta haga click sobre ella.
                </div>
            </form>

            <form class="form-login" role="form" data-ng-if="vm.validation">
                <p>Su matricula</p>
                <input type="text" class="form-control" placeholder="Matricula" data-ng-model="vm.changePasswordModel.username" disabled="disabled" required autofocus>
                <p>Ingresar su nueva contraseña</p>
                <input type="password" class="form-control" placeholder="Contraseña" data-ng-model="vm.changePasswordModel.password" required>
                <p>Repita su nueva contraseña</p>
                <input type="password" class="form-control" placeholder="Repita su Contraseña" data-ng-model="vm.changePasswordModel.confirmPassword" required>
                <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="vm.changepassword()">Confirmar</button>
                <div data-ng-hide="vm.message == ''" data-ng-click="vm.message = ''" data-ng-class="(vm.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                    {{vm.message}} Para cerrar esta alerta haga click sobre ella.
                </div>
            </form>
            <button type="button" class="btn btn-log" ui-sref='ingresar'>Ingresar a Cuenta</button>
        </div>
    </div>
</div>