<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1 class="row">Plan de Estudio</h1>

<div class="row" style="overflow-x:auto;">
    <div>{{vm.aprobadas}} Materias Aprobadas de {{vm.total}} Materias Totales </div>
</div>

<div class="row">

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <button class="btn btn-caece" ng-click="vm.materiasaprobadas()"> Aprobadas</button>
        <button class="btn btn-caece" ng-click="vm.materiascursadas()"> Cursadas</button>
        <button class="btn btn-caece" ng-click="vm.materiasnocursadas()"> Sin Cursar</button>
        <button class="btn btn-caece" ng-click="vm.materiaspendientes()"> Pendientes</button>
    </div>

    <table class="table-caece">
        <thead class="thead">
            <tr>
                <th>Año</th>
                <th>Cuatrimestre</th>
                <th>Materia</th>
                <th>Estado de la Materia</th>
                <th>Correlativas</th>
            </tr>
        </thead>
        <tbody ng-repeat="materia in vm.materias | orderBy: 'mat_anio' | filter: vm.filtro">
            <tr>
                <td>{{materia.mat_anio}}</td>
                <td>{{materia.mat_cuatrim}}</td>
                <td>{{materia.mat_des}}</td>
                <td>{{materia.estado}}</td>

                <td>
                    <ul>
                        <li class="correlativas" ng-if="materia.correlativas.length != 0" ng-repeat="n in materia.correlativas">{{n.materia_des}}</li>
                    </ul>
                </td>

            </tr>

        </tbody>
    </table>
</div>