<span>Matricula:</span> &nbsp; <input type="text" ng-model="vm.matricula" /> <input type="button" value="submit" ng-click="vm.submit()">

<style>
    .btn {
        background-color: #008CBA;
        border: 2px solid #555555;
        color: white;
        padding: 10px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

        .btn:hover {
            background-color: #4CAF50; /* Green */
            color: white;
        }

        .btn.active {
            background-color: #0000FF;
            color: white;
        }
</style>

<h2>FINALES</h2>
<script src="finales.component.js"></script>
<div id="myBtnContainer">
    <button class="btn" ng-click="vm.vencimiento()"> Vencimiento</button>
    <button class="btn" ng-click="vm.numeroCorrelativas()"> Número de Correlativas</button>
    <button class="btn" ng-click="vm.equivalenciasParciales()"> Equivalencias Parciales</button>
    <button class="btn" ng-click="vm.ultimoIntento()"> Último Intento</button>
</div>


    <table class="table table-striped table-dark">
        <thead>
            <tr></tr>
            <tr>
                <th scope="col">Materia</th>
                <th scope="col">Fecha de Vencimiento</th>
                <th scope="col">Último Intento</th>
                <th scope="col">Correlativas Previas sin Aprobar</th>
            </tr>
        </thead>
        <tbody ng-repeat="finales in vm.finales | orderBy: vm.orden | filter: vm.filtro ">
            <tr>
                <td>{{finales.abr}}</td>
                <td>{{finales.fechaVencimiento}}</td>
                <td>{{finales.reprobado}}</td>
                <td>
                    <ul>
                        <li ng-repeat="n in finales.correlativasCursadas">{{n.abr}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>


<h6>Equivalencias Parciales por Rendir</h6>
<ul>
    <li ng-repeat="finales in vm.finales | filter: {'descrip' : 'EQP'}"> {{finales.abr}}</li>
</ul>


<h6>Finales Proximos a Vencerse</h6>
<ul>
    <li ng-repeat="finales in vm.finales | filter: {'vencimiento' : 'true' }">{{finales.abr}}</li>
</ul>
