
.sinCorrelativas {
    color: green;
}

.sinUnlocks {
    color: red;
}

.correlativasCursadas {
    color: red;
    font-weight: bold;
}

.correlativasDestrabadas {
    color: blue;
}

p {
    margin: 25px;
}