.btnfinal {
    background: #1AAB8A;
    padding: 5px 35px;
    color: #fff;
    float: left;
    position: relative;
    height: 35px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    border-radius: 0;
}

    .btnfinal:hover {
        color: #DDDDDD;
        border-color: #DDDDDD;
    }

    .btnfinal:active {
    }

    .btnfinal:focus {
        border-color: currentColor;
        background-color: #bae5db;
        color: #777;
        cursor: default;
        box-shadow: none;
        outline: 0;
    }

#finales table {
    text-align: center;
    position: fixed;
    border-collapse: collapse;
    padding: 10px;
    border: 0;
}


#finales th {
    text-align: center;
    background-color: #1AAB8A;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    border: 0;
}

#finales td {
    padding: 10px;
}

#finales tbody:nth-child(even) {
    background-color: #bae5db;
    color: black;
}

#finales tbody:nth-child(odd) {
    background-color: #30b395;
    color: black;
}

#finales tr:hover {
    background-color: antiquewhite;
}

.sinCorrelativas {
    color: green;
}

.sinUnlocks {
    color: red;
}

.correlativasCursadas {
    color: red;
    font-weight: bold;
}

.correlativasDestrabadas {
    color: blue;
}
