<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div>
    <div class="table-responsive" ng-if="vm.pendientes.length != 0">
        <table id="pendientes" class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Materias Pendientes</th>
                </tr>
            </thead>
            <tbody ng-repeat="pendientes in vm.pendientes">
                <tr>
                    <td>{{pendientes.abr}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="vm.pendientes.length == 0 && vm.porvencerse.length != 0">
        <h3>No tiene Materias Pendientes</h3>
    </div>

    <div class="table-responsive" ng-if="vm.porvencerse.length != 0">
        <table id="porvencerse" class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Materias por Vencerse en proximo Cuatrimestre</th>
                </tr>
            </thead>
            <tbody ng-repeat="vencerse in vm.porvencerse">
                <tr>
                    <td>{{vencerse.abr}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="vm.porvencerse.length == 0 && vm.pendientes.length != 0">
        <h3>No tiene Materias Por Vencerse</h3>
    </div>
    <div ng-if="vm.porvencerse.length == 0 && vm.pendientes.length == 0">
        <h3>Felicidades! No tiene materias pendientes o proximas a vencerse</h3>
    </div>
</div>