<span>Matricula:</span> &nbsp; <input type="text" ng-model="vm.matricula" /> <input type="button" value="submit" ng-click="vm.submit()">

<div ng-if="vm.pendientes.length != 0">
    <a href="#" data-toggle="tooltip" title="Las materias pendientes son aquellas que se aprobaron por equivalencia pero por diferencias de planes no tienen una correlativa previa aprobada, una vez que se aprueben todas esta pasa a ser aprobada">MATERIAS EN ESTADO PENDIENTES </a>

    <table id="pendientes" class="table-bordered thead-dark">
        <thead class="thead">
            <tr>
                <th scope="col">Materia</th>
                <th scope="col">Correlativas No Aprobadas</th>
            </tr>
        </thead>
        <tbody ng-repeat="pendientes in vm.pendientes">
            <tr>
                <td>{{pendientes.abr}}</td>
                <td>
                    <ul>
                        <li ng-repeat="n in pendientes.correlativasNoAprobadas">{{n.abr}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>