<span>Matricula:</span> &nbsp; <input type="text" ng-model="vm.matricula" /> <input type="button" value="submit" ng-click="vm.submit()">

<div ng-if="vm.pendientes.length != 0">
    <table id="pendientes" class="table-striped table-bordered thead-dark table-caece">
        <thead class="thead">
            <tr>
                <th scope="col">Materias Pendientes</th>
                <th scope="col">Correlativas No Aprobadas</th>
            </tr>
        </thead>
        <tbody ng-repeat="pendientes in vm.pendientes">
            <tr>
                <td>{{pendientes.abr}}</td>
                <td>
                    <ul>
                        <li ng-repeat="n in pendientes.correlativasNoAprobadas">{{n.abr}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>