<div class="dropdown">
    <button class="btn btn-secondary" href="#" ng-show="!vm.authenticated" type="button" >
       Por Favor Ingresar
    </button>
    <button class="btn btn-user dropdown-toggle" ng-show="vm.authenticated" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hola {{vm.user}}!
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="changepassword" ng-click="vm.changepassword()">Cambiar Contraseña</a>
        <a class="dropdown-item" href="#" ng-click="vm.logout()">Salir</a>
    </div>
</div>
