<div class="dropdown">
    <button class="btn btn-secondary" ng-show="!vm.authenticated" type="button" >
       Please Sign in
    </button>
    <button class="btn btn-secondary dropdown-toggle" ng-show="vm.authenticated" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hi {{vm.user}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" ng-click="vm.changepassword()">Change Password</a>
        <a class="dropdown-item" href="#" ng-click="vm.logout()">Log Out</a>
    </div>
</div>
