<h2>CURSOS</h2>
<span>Matricula:</span> &nbsp; <input type="text" ng-model="vm.matricula" /> <input type="button" value="submit" ng-click="vm.submit()">
<table class="table">
    <thead>
        <tr>
            <th align="left" scope="col">Materia</th>
            <th align="center" scope="col">Lunes</th>
            <th align="center" scope="col">Martes</th>
            <th align="center" scope="col">Miercoles</th>
            <th align="center" scope="col">Jueves</th>
            <th align="center" scope="col">Viernes</th>
            <th align="center" scope="col">Sabado</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="curso in vm.cursos">
            <th align="left" scope="row">{{curso.Abr}}</th>
            <td align="center" ng-if="curso.Dia == '1000000'">X</td><td align="center" ng-if="curso.Dia != '1000000'"></td>
            <td align="center" ng-if="curso.Dia == '0100000'">X</td><td align="center" ng-if="curso.Dia != '0100000'"></td>
            <td align="center" ng-if="curso.Dia == '0010000'">X</td><td align="center" ng-if="curso.Dia != '0010000'"></td>
            <td align="center" ng-if="curso.Dia == '0001000'">X</td><td align="center" ng-if="curso.Dia != '0001000'"></td>
            <td align="center" ng-if="curso.Dia == '0000100'">X</td><td align="center" ng-if="curso.Dia != '0000100'"></td>
            <td align="center" ng-if="curso.Dia == '0000010'">X</td><td align="center" ng-if="curso.Dia != '0000010'"></td>
        </tr>
    </tbody>
</table>