<h2>CURSOS</h2>
<span>Matricula:</span> &nbsp; <input type="text" ng-model="vm.matricula" /> <input type="button" value="submit" ng-click="vm.submit()">
<table class="table">
    <thead>
        <tr>
            <th align="left" scope="col">Materia</th>
            <th align="center" scope="col">Lunes</th>
            <th align="center" scope="col">Martes</th>
            <th align="center" scope="col">Miercoles</th>
            <th align="center" scope="col">Jueves</th>
            <th align="center" scope="col">Viernes</th>
            <th align="center" scope="col">Sabado</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="curso in vm.cursos">
            <th scope="row">Fisica 2</th>
            <td></td>
            <td></td>
            <td>X</td>
            <td></td>
            <td></td>
            <td>X</td>
        </tr>
        <tr>
            <th align="left" scope="row">Quimica</th>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center">X</td>
            <td align="center"></td>
        </tr>
        <tr>
            <th align="left" scope="row">Gestion de Proyectos y Calidad</th>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center">X</td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
    </tbody>
</table>