body {
    margin:0;
    padding:0;
}

.barra-titulo {
    background-color: #007367;
    color: #ffffff;
}

.barra-opciones-j1 {
    background-color: #d7d7d1;
}

.barra-opciones-j2 {
    background-color: #818173;
    color: #ffffff;
}

.area-j3 {
    background-color: #ededed;
    color: #494848;
}

.btn-j2 {
    background-color: #818173;
    color: #ffffff;
    font-size: 20px;
}

.btn-j2:active, .active, .btn-j2:hover {
        background-color: red;
        color: white;
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-color: currentcolor;
}

.btn-j1 {
    color: #747373;
    font-size: 25px;
}

.btn-j1:hover {
        background-color: #ffffff;
        color: #000000;
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-color: currentcolor;
}

.btn-j1:focus {
        color: #4CAF50;
        border-color: currentColor;
        background-color: white;
}

.component-borders {
    border: 1px double black;
}

.custom_class_materia_desactivada {
    color: #d6d6c2;
}