<div class="d-none d-md-block" data-toggle="buttons">
    <ul class="main__menu">
        <li class="main__menu__item">
            <a class="btn btn-primary btn-j1" ui-sref='estadisticas'>Estadisticas</a>
            &nbsp; &nbsp;
        </li>
        <li class="main__menu__item">
            <a class="btn btn-primary btn-j1" ui-sref='cursos'>Cursos</a>
            &nbsp; &nbsp;
        </li>
        <li class="main__menu__item">
            <a class="btn btn-primary btn-j1" ui-sref='finales'>Finales</a>
        </li>
    </ul>
</div>
