<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-info" ui-sref='estadisticas'>Estadisticas</button>
    <div class="btn-group" role="group">
        <button id="btnGroupDropCursos" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Cursos
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDropCursos">
            <a class="dropdown-item" ui-sref="cursos.auto">Selecci&oacute;n Autom&aacute;tica</a>
            <a class="dropdown-item" ui-sref="cursos.manual">Selecci&oacute;n Manual</a>
        </div>
    </div>
    <button type="button" class="btn btn-info" ui-sref='finales'>Finales</button>
</div>
