<div class="container">
    <div class="row">
        <div class="col-8 barra-titulo"><img src="/App/bob/imagenes/logocaece_blanco.png" alt="Universidad CAECE" /></div>
        <div class="col-4 barra-titulo"><login></login></div>
    </div>
    <div class="row">
        <div class="col-8">
            <arbol></arbol>
        </div>
    </div>
    <div class="row">
        <div class="col-12 barra-opciones-j1">
            <nav></nav>
        </div>
    </div>
    <div class="row">
        <div class="col-8 barra-opciones-j2">
            <ui-view></ui-view>
        </div>
    </div>
</div>