<div class="container">
    <div class="row">
        <div class="col-8 barra-titulo"><img src="/App/bob/imagenes/logocaece_blanco.png" alt="Universidad CAECE" /></div>
        <div class="col-4 barra-titulo"><login></login></div>
    </div>
    <div class="row">
        <div class="col-12 topnav">
            <nav></nav>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <arbol></arbol>
        </div>
        <div class="col-2">
            <pendientes></pendientes>
        </div>
    </div>

    <div class="row">
        <div class="col-8 barra-opciones-j2">
            <ui-view></ui-view>
        </div>
        <div class="col-4">
            <porvencerse></porvencerse>
        </div>
    </div>
</div>