<span>Matricula:</span> &nbsp; <input type="text" ng-model="vm.matricula" /> <input type="button" value="submit" ng-click="vm.submit()">
<div ng-if="vm.porvencerse.length != 0">
    <table id="porvencerse" class="table-bordered table-responsive table-striped thead-dark">
        <thead>
            <tr>
                <th>Materias por Vencerse en proximo Cuatrimestre</th>
            </tr>
        </thead>
        <tbody ng-repeat="vencerse in vm.porvencerse">
            <tr>
                <td>{{vencerse.abr}}</td>
            </tr>
        </tbody>
    </table>
</div>
