<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <div class="row">
        <div class="col-md-9 barra-titulo">
            <img src="../../Content/logo2017_blanco.png" alt="CAECE" width="200" height="80" />
        </div>
        <div class="col-md-3 barra-titulo"><userstatus></userstatus></div>
    </div>
    <div class="row">
        <h1>Administrador</h1>
    </div>

    <div class="row">
        <h2>Listado Maestro de Alumnos</h2>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Matricula</th>
                        <th>Plan</th>
                        <th>Titulo</th>
                        <th>Abreviacion del Titulo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="alumno in vm.alumnos| orderBy: 'matricula'">
                        <td>{{alumno.matricula}}</td>
                        <td>{{alumno.plan_Tit}}</td>
                        <td>{{alumno.titulo_Id}}</td>
                        <td>{{alumno.abr_Titulo}}</td>
                        <td>
                            <input type="button" data-toggle="modal" data-target="#borrarModal" data-ng-click="vm.modalBorrar(alumno.matricula)" value="Borrar">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="borrarModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Borrar</h5>
                </div>
                <div class="modal-body">
                    <span>Usted está seguro de que quiere borrar el usuario: {{vm.matricula}}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal">Cancelar</button>
                    <button ng-click="vm.borrarAlumno(vm.matricula)" type="button" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</div>
