<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h4 class="row">Porcentaje Aprobado de la Carrera</h4>
<div>
    <d3-aprobadas id="daprobadas" aprobadas="vm.aprobadas" noaprobadas="vm.noaprobadas" ng-if="vm.aprobadas !=null && vm.noaprobadas !=null"></d3-aprobadas>
</div>
<h4 class="row">Porcentaje Cursado de la Carrera</h4>
<div>
    <d3-cursadas id="dcursadas" cursadas="vm.cursadas" nocursadas="vm.nocursadas" ng-if="vm.cursadas !=null && vm.nocursadas !=null"></d3-cursadas>
</div>

<h4 class="row"> Cantidad de Materias Aprobadas por Año</h4>
<div class="row">
    <div class="table-responsive">
        <table align="center" class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Año</th>
                    <th>Materias Aprobadas</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="materia in vm.materias.lista | orderBy: 'anio'">
                    <td>{{materia.anio}}</td>
                    <td>{{materia.aprobadas}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>