<h2>ESTADISTICAS</h2>


<html>

<head>


    <style>

        .inside
        {
            font-size: 15px;
            font-weight: bold;
            fill: white;
        }

        .label
        {
            font-size: 15px;
            font-weight: bold;
        }


    </style>

</head>

<body>
    <span>Matricula:</span> &nbsp; <input type="text" ng-model="vm.matricula" /> <input type="button" value="submit" ng-click="vm.submit()"><br>
    <div>
        <!--<span>Matricula:</span> &nbsp; <input type="text" ng-model="vm.matricula" /> <input type="button" value="submit" ng-click="vm.submit()"><br>-->

        <table>
            Cantidad de materias aprobadas por año
            <br>
            <tr ng-repeat="materia in vm.materias.Lista">
                <td>{{materia.Anio}}</td>
                <td>{{materia.Aprobadas}}</td>
            </tr>
        </table>

    

        <br>
    <svg id="ungrafico"></svg>
        Porcentaje Aprobado de la carrera |  Porcentaje Cursado de la carrera <br>
        <script>
            var width = 400;
            var height = 250;
            var colors = d3.scaleOrdinal(d3.schemeDark2);
            var svg = d3.select("body").select("#ungrafico")
                .attr("width", width).attr("height", height)
                .style("background", "pink");

            var details = [{
                grade: "Aprobado", number: 70.5
            }, { grade: "No Aprobado", number: 19.5 }];

            var data = d3.pie().sort(null).value(function (d) { return d.number; })(details);
            console.log(data);

            var segments = d3.arc()
                .innerRadius(0)
                .outerRadius(60)
                .padAngle(.05)
                .padRadius(40);

            var sections = svg.append("g").attr("transform", "translate(150,125)")
                .selectAll("path").data(data);
            sections.enter().append("path").attr("d", segments).attr("fill", function
                (d) { return colors(d.data.number); });

            var content = d3.select("g").selectAll("text").data(data);
            content.enter().append("text").classed("inside", true).each(function (d) {
                var center = segments.centroid(d);
                d3.select(this).attr("x", center[0]).attr("y", center[1])
                    .text(d.data.number);
            });

            var legends = svg.append("g").attr("transform", "translate(200,150)")
                .selectAll(".legends").data(data);

            var legends = legends.enter().append("g").classed("legends", true).attr("transform", function (d, i) {
                return "translate(0," + (i + 1) * 30 + " )";
            });

            legends.append("rect").attr("width", 10).attr("height", 10).attr("fill", function (d) {
                return colors(d.data.number);
            });
            legends.append("text").classed("label", true).text(function (d) { return d.data.grade; })
                .attr("fill", function (d) { return colors(d.data.number); })
                .attr("x", 10)
                .attr("y", 10);



        </script>
        <svg id="otrografico"></svg>
        <script>
            var width = 400;
            var height = 250;
            var colors = d3.scaleOrdinal(d3.schemeDark2);
            var svg1 = d3.select("body").select("#otrografico")
                .attr("width", width).attr("height", height)
                .style("background", "pink");

            var details = [
                { grade: "Cursado", number: 60.5 },
                { grade: "No Cursado", number: 39.5 }
            ];
            x => x.number
            var data = d3.pie().sort(null).value(function (d) { return d.number; })(details);
            console.log(data);

            var segments = d3.arc()
                .innerRadius(0)
                .outerRadius(60)
                .padAngle(.05)
                .padRadius(40);

            var sections = svg1.append("g").attr("transform", "translate(150,125)")
                .selectAll("path").data(data);
            sections.enter().append("path").attr("d", segments).attr("fill", function
                (d) { return colors(d.data.number); });

            var content = d3.select("g").selectAll("text").data(data);
            content.enter().append("text").classed("inside", true).each(function (d) {
                var center = segments.centroid(d);
                d3.select(this).attr("x", center[0]).attr("y", center[1])
                    .text(d.data.number);
            });

            var legends = svg1.append("g").attr("transform", "translate(200,150)")
                .selectAll(".legends").data(data);

            var legends = legends.enter().append("g").classed("legends", true).attr("transform", function (d, i) {
                return "translate(0," + (i + 1) * 30 + " )";
            });

            legends.append("rect").attr("width", 10).attr("height", 10).attr("fill", function (d) {
                return colors(d.data.number);
            });
            legends.append("text").classed("label", true).text(function (d) { return d.data.grade; })
                .attr("fill", function (d) { return colors(d.data.number); })
                .attr("x", 10)
                .attr("y", 10);

        </script>

    </div>




</body>

</html>



<!--<body>
    <div>
        <span>Matricula:</span> &nbsp; <input type="text" ng-model="vm.matricula" /> <input type="button" value="submit" ng-click="vm.submit()">

        <table>
            Cantidad de materias aprobadas por año <br>
            <tr ng-repeat="materia in vm.materias.Lista">
                <td>{{materia.Anio}}</td>
                <td>{{materia.Aprobadas}}</td>
            </tr>
        </table>
    </div>
</body>-->
