<span>Matricula:</span> &nbsp; <input type="text" ng-model="vm.matricula" /> <input type="button" value="submit" ng-click="vm.submit()"><br>
<h4 class="row"> Cantidad de Materias Aprobadas por Año</h4>
<div class="row">
    <table class="table-caece">
        <thead class="thead">
            <tr>
                <th>Año</th>
                <th>Materias Aprobadas</th>
            </tr>
        </thead>
        <tbody ng-repeat="materia in vm.materias.Lista | orderBy: 'Anio'">
            <tr>
                <td>{{materia.Anio}}</td>
                <td>{{materia.Aprobadas}}</td>
            </tr>
        </tbody>
    </table>
</div>