<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8ef83bc5-a4b8-45d4-bc77-2cdc93b92ee3/resourceGroups/FINALBOSS/providers/Microsoft.Web/sites/caeceprometeo</ResourceId>
    <ResourceGroup>FINALBOSS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://caeceprometeo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>caeceprometeo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>caeceprometeo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$caeceprometeo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CaeceDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=caeceprometeodb.mysql.database.azure.com;Initial Catalog=caece;Persist Security Info=True;User ID=finalboss@caeceprometeodb;Password=W3lcome!" Name="server=caeceprometeodb.mysql.database.azure.com;user id=finalboss@caeceprometeodb;password=W3lcome!;persistsecurityinfo=True;database=caece" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="bob.Data.CaeceDBContext, bob.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CaeceDbContext-Web.config Connection String">
      <ParameterValue>server=caeceprometeodb.mysql.database.azure.com;user id=finalboss@caeceprometeodb;password=W3lcome!;persistsecurityinfo=True;database=caece</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>