@section styles{
    <link rel="stylesheet" type="text/css" href="/App/bob/finales/finales.component.css">
}


@section scripts{
    <script src="/App/bob/app-module.js"></script>
    <script src="/App/bob/bob-app.component.js"></script>
    <script src="/App/bob/servicios/caece.service.js"></script>
    <script src="/App/bob/nav/nav.component.js"></script>
    <script src="/App/bob/navegacion/navegacion.component.js"></script>
    <script src="/App/bob/userstatus/userstatus.component.js"></script>
    <script src="/App/bob/login/login.component.js"></script>
    <script src="/App/bob/register/register.component.js"></script>
    <script src="/App/bob/changepassword/changepassword.component.js"></script>
    <script src="/App/bob/arbol/arbol.component.js"></script>
    <script src="/App/bob/cursos/cursos.component.js"></script>
    <script src="/App/bob/cursos/cursos-auto.component.js"></script>
    <script src="/App/bob/cursos/cursos-manual.component.js"></script>
    <script src="/App/bob/finales/finales.component.js"></script>
    <script src="/App/bob/estadisticas/estadisticas.component.js"></script>
    <script src="/App/bob/porvencerse/porvencerse.component.js"></script>
    <script src="/App/bob/pendientes/pendientes.component.js"></script>
    <script src="/App/bob/servicios/auth-interceptor.service.js"></script>
    <script src="/App/bob/servicios/auth.service.js"></script>
}

@section jsCode {
    angular.bootstrap(document.getElementById("bob"), ['bob']);
}

<div ng-non-bindable class="container-fluid">
    <div id="bob" class="section-container">
        <div class="body-content" ng-cloak>
            <div ui-view="content"></div>
        </div>
    </div>
</div>
